* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  text-size: 14px;
  font-family: "Roboto", sans-serif;
}

.txt-align-center {
  text-align: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: grid;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.viewport {
  height: 100vh;
  width: 100vw;
}

.percent {
  height: 100%;
  width: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.hidden {
  display: none;
}

.m-auto {
  margin: auto;
}

.m-right {
  margin: auto;
}

.m-left {
  margin: auto;
}

.m-right-zero {
  margin: 0;
}

.m-left-zero {
  margin: 0;
}

.m-top-zero {
  margin: 0;
}

.m-bottom-zero {
  margin: 0;
}

.m-xs {
  margin: 16px;
}

.m-md {
  margin: 24px;
}

.m-lg {
  margin: 32px;
}

.m-xl {
  margin: 40px;
}

.m-xs {
  margin: 16px;
}

.m-md {
  margin: 24px;
}

.m-lg {
  margin: 32px;
}

.m-xl {
  margin: 40px;
}

.m-bottom-xs {
  margin-bottom: 16px;
}

.m-bottom-md {
  margin-bottom: 24px;
}

.m-bottom-lg {
  margin-bottom: 32px;
}

.m-bottom-xl {
  margin-bottom: 50px;
}

.m-top-xs {
  margin-top: 16px;
}

.m-top-md {
  margin-top: 24px;
}

.m-top-lg {
  margin-top: 32px;
}

.m-top-xl {
  margin-top: 50px;
}

.p-xs {
  padding: 15px;
}

.p-md {
  padding: 24px;
}

.p-lg {
  padding: 32px;
}

.p-xl {
  padding: 40px;
}

.p-bottom-xs {
  padding-bottom: 16px;
}

.p-bottom-md {
  padding-bottom: 24px;
}

.p-bottom-lg {
  padding-bottom: 32px;
}

.p-bottom-xl {
  padding-bottom: 50px;
}

.p-top-xs {
  padding-top: 16px;
}

.p-top-md {
  padding-top: 24px;
}

.p-top-lg {
  padding-top: 32px;
}

.p-top-xl {
  padding-top: 50px;
}

.hero {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.tittle {
  color: #ffffff;
  font-size: 42px;
  font-family: "Roboto Slab", serif;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.txt-header {
  padding-top: 270px;
}

.below {
  z-index: -1;
}

.txt-hero {
  color: #ffffff;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 30px;
}

.margin {
  margin-top: 200px;
}

.arrow {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #ffffff;
}

.ico-arrow {
  padding-left: 30%;
  padding-top: 40%;
}

.ico-arrow2 {
  padding-top: 25%;
}

.menu-ico-container {
  border: 0;
  width: 44px;
  height: 44px;
  background-color: #0271bc;
}

.menu-lateral {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: -320px;
  top: 0;
  -webkit-transition: left ease;
  transition: left ease;
}

.left {
  left: 0;
}

.menu {
  list-style: none;
  width: 276px;
  padding-left: 0;
  margin: 0;
  height: 100vh;
  opacity: 0.96;
  background-color: #ffffff;
}

.menu__link {
  text-decoration: none;
  color: #304268;
  padding-left: 15px;
  text-align: left;
}

.menu__item {
  border: 1px solid #8ccbea;
  padding: 12px;
  border-bottom: 0;
}

.item3 {
  border-bottom: 1px solid #8ccbea;
}

.ico-close {
  border: 0;
  width: 44px;
  height: 44px;
  background-color: #f26002;
}

.section1 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 30px 15px 45px;
}

.tittle-s1 {
  font-family: "Roboto Slab", serif;
}

.button-go {
  border: 0;
  background: #ffffff;
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  border: solid 2px #f26002;
}

.insomnia {
  color: #8ccbea;
  font-size: 14px;
}

.donec {
  color: #4a4a4a;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.section-2 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px 15px 60px;
  background-color: #eff9ff;
}

.reasons {
  font-size: 24px;
  font-family: "Roboto Slab", serif;
}

.box-s2 {
  margin-left: 70px;
  margin-right: 70px;
  font-size: 18px;
}

.box-s2 h4 {
  font-family: "Roboto Slab", serif;
  margin-top: 45px;
  margin-bottom: 0px;
}

.box-s2 p {
  margin-top: 0;
}

.more-reasons {
  width: 184px;
  height: 45px;
  margin-top: 30px;
  background: #f26002;
  color: #ffffff;
  border: 0;
  font-size: 20px;
  font-weight: bold;
}

.footer {
  background-color: #304268;
  color: #ffffff;
  font-size: 14px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

span {
  color: #f26002;
}

.aupcontent {
  top: -20%;
  left: 45%;
}

.button-go {
  font-size: 20px;
  color: #f26002;
  font-weight: bold;
}

@media (min-width: 768px) {
  .tittle {
    font-size: 80px;
  }

  .txt-header {
    padding-top: 480px;
  }

  .section1 {
    padding: 30px 39px 60px;
  }

  .tittle-s1 {
    font-size: 26px;
    padding-bottom: 30px;
  }

  .button-go {
    width: 91px;
  }

  .donec {
    padding-bottom: 30px;
  }

  .section-2 {
    padding: 30px 40px 60px 38px;
  }

  .reasons {
    font-size: 26px;
  }

  .box-s2 h4 {
    font-size: 24px;
  }

  .box-s2 p {
    font-size: 20px;
  }

  .box-s2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .more-reasons {
    margin-top: 50px;
  }

  .aupcontent {
    left: 48%;
  }
}

@media all and (min-width: 768px) {
  .inhac {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  .hide-lg {
    display: none;
  }
}

@media (min-width: 1280px) {
  .tittle {
    font-size: 100px;
  }

  .txt-header {
    padding-top: 280px;
  }

  .section1 {
    padding: 60px 275px;
  }

  .tittle-s1 {
    font-size: 32px;
  }

  .button-go {
    width: 160px;
  }

  .insomnia {
    font-size: 16px;
  }

  .donec {
    font-size: 20px;
  }

  .reasons {
    font-size: 32px;
  }
}

@media (max-width: 1023px) {
  .hide-sm {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
