*{  box-sizing: border-box;
}

body {
  margin:0;
  text-size:14px;
  font-family: $font-family;
}
.ico-container {
opacity: 1;
  &:hover{
  opacity: 0.7;

  }
}


.txt-align-center { text-align:center; }
.flex { display: flex; }
.grid { display: grid; }
.block { display: block; }
.inline { display: inline; }
.inline-block { display: inline-block; }
.viewport {height: 100vh; width: 100vw;}
.percent {height: 100%; width: 100%;}

// Esta clase es muy útil cuando queremos colocar un elemento en posición absoluta

.relative { position: relative; }
.absolute { position: absolute; }

// Esta clase es la solemos usar con JavaScript para ocultar o mostrar un elemento
.hidden { display: none; }
.hide-sm { @media (max-width: 1023px) { display: none; } }
.hide-lg { @media (min-width: 1024px) { display: none; } }

.m-auto { margin:auto; }
.m-right { margin:auto; }
.m-left { margin:auto; }
.m-right-zero { margin: 0; }
.m-left-zero {margin: 0;}
.m-top-zero {margin: 0;}
.m-bottom-zero {margin: 0;}
.m-xs { margin: 16px; }
.m-md { margin: 24px; }
.m-lg { margin: 32px; }
.m-xl { margin: 40px; }
.m-xs { margin: 16px; }
.m-md { margin: 24px; }
.m-lg { margin: 32px; }
.m-xl { margin: 40px; }

.m-bottom-xs { margin-bottom: 16px; }
.m-bottom-md { margin-bottom: 24px; }
.m-bottom-lg { margin-bottom: 32px; }
.m-bottom-xl { margin-bottom: 50px; }
.m-top-xs { margin-top: 16px; }
.m-top-md { margin-top: 24px; }
.m-top-lg { margin-top: 32px; }
.m-top-xl { margin-top: 50px; }

.p-xs { padding: 15px; }
.p-md { padding: 24px; }
.p-lg { padding: 32px; }
.p-xl { padding: 40px; }

.p-bottom-xs { padding-bottom: 16px; }
.p-bottom-md { padding-bottom: 24px; }
.p-bottom-lg { padding-bottom: 32px; }
.p-bottom-xl { padding-bottom: 50px; }
.p-top-xs { padding-top: 16px; }
.p-top-md { padding-top: 24px; }
.p-top-lg { padding-top: 32px; }
.p-top-xl { padding-top: 50px; }
