.hero {
 background-image: url("../images/cover.jpg");
 background-size: cover;
 background-position: center;
 height: 100vh;
}

.tittle {
  color: $color-light;
  font-size: $font-size-lg;
  font-family: $font-family-secondary;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    @media (min-width: 768px) {
      font-size: 80px;
  }
    @media (min-width: 1280px) {
      font-size: 100px;
  }
}
.txt-header {
  padding-top: 270px;
  @media (min-width: 768px) {
  padding-top: 480px;
}
  @media (min-width: 1280px) {
    padding-top: 280px;
}
}

.below {
  z-index: -1;
}

.txt-hero {
  color: $color-light;
  font-size: $font-size-normal;
  font-family: $font-family;
  padding-bottom: 30px;
}
.margin {
  margin-top: 200px;
}

.arrow {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background-color: $color-light;

}

.ico-arrow {
padding-left: 30%;
padding-top: 40%;

}

.ico-arrow2 {
padding-top: 25%;

}

.menu-ico-container{
  border: 0;
  width: 44px;
  height: 44px;
  background-color: $color-tertiary;
}



@media all and (min-width:768px) {
.inhac {
  font-size: 24px;
}
}
