.menu-lateral {
  display: flex;
  position: absolute;
  width: 276px;
  left: -236px;
  top:0;
	transition: left ease;
}
.left {
  left:0;
}


.menu {
  list-style:none;
  padding-left: 0;
  margin: 0;
  height: 100vh;
  opacity: 0.96;
  background-color: $color-light;

}
.menu__link {
  text-decoration:none;
  color: $color-secondary;
  padding-left: 15px;
   text-align: left;
}

.menu__item {
  border: 1px solid $color-light-midtone;
  padding: 12px;
  border-bottom: 0;
}
.item3 {
  border-bottom: 1px solid $color-light-midtone;
}

.ico-close {
border: 0;
width: 44px;
height: 44px;
background-color: $color-primary;
}
