.section1 {
  box-sizing: border-box;
  background-color: $color-light;
  padding:30px 15px 45px;
  @media (min-width: 768px) {

    padding: 30px 39px 60px;

}
  @media (min-width: 1280px) {

    padding: 60px 275px;

}
}

.tittle-s1 {

  font-family: $font-family-secondary;
  font-weight: $font-weight-lg;
  @media (min-width: 768px) {
    font-size:26px;
    padding-bottom: 30px;

}
  @media (min-width: 1280px) {
  font-size:32px;

}
}


.button-go {
  border: 0;
  background: $color-light;
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  border: solid 2px $color-primary;
  @media (min-width: 768px) {
width: 91px;
}
  @media (min-width: 1280px) {
width: 160px;

}
}

.insomnia {
  color: $color-light-midtone;
  font-size:14px;

  @media (min-width: 1280px) {
  font-size:$font-size-normal;
}

}

.donec {
  color: $color-dark-midtone;
  font-size:$font-size-medium;
  margin-top: 15px;
  margin-bottom: 30px;
  @media (min-width: 768px) {

    padding-bottom: 30px;

}
  @media (min-width: 1280px) {
  font-size:20px;


}
}
