.section1 {
  height: 376px;
  background-color: $color-light;
  margin-right: 15px;
  margin-left: 15px;

}

.button-go {
  border: 0;
  background: $color-light;
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  border: solid 2px $color-primary;
}

.insomnia {
  color: $color-light-midtone;
  font-size:14px;
  margin-top: 30px;

}

.donec {
  color: $color-dark-midtone;
  font-size:$font-size-medium;
}
