.section-2 {
  box-sizing: border-box;
  height: 624px;
  margin: 30px 15px 60px;
  background-color: $color-light-2;
  @media (min-width: 768px) {
  height: 397px;

}
  @media (min-width: 1280px) {
height: 427px;
}
}

.reasons {
  font-size: 24px;
  @media (min-width: 768px) {
  font-size: 26px;

}
  @media (min-width: 1280px) {
font-size: 32px;
}
}

.box-s2 {
  margin-left: 70px;
  margin-right: 70px;
  font-size: $font-size-medium;
   h4 {
     margin-top: 45px;
     margin-bottom: 0px;
     @media (min-width: 768px) {
      font-size: 24px;
   }
   }
   p{
     margin-top: 0;
     @media (min-width: 768px) {
      font-size: 20px;
   }
   }
   @media (min-width: 768px) {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 45px 50px 100px ;
     grid-gap:30px;

 }

}

.more-reasons {
  width: 184px;
  height: 45px;
  background: $color-primary;
  color: $color-light;
  border: 0;
  font-size: 20px;
  font-weight: bold;
}
