$font-family-secondary: 'Roboto Slab', serif;
$font-family: 'Roboto', sans-serif;
$font-size-normal: 16px;
$font-size-medium: 18px;
$font-size-lg: 42px;

$line-height: 1.5;
$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-lg: 700;
